@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(Roboto), url(./assets/fonts/roboto.woff) format('woff');
}

body * {
  font-family: 'Roboto', serif !important;
}
